{% extends "admin.html" %}
{% block body %}
        <!-- Pricing Section -->
        <section id="subscribe-item" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">
                <h3>预约项目</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 mtb-xs-30">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>Regular</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">49</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>50 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Premium Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black" href="/admin/subscribe/type/1">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mtb-xs-30">
                        <div class="Pricing-box highlight">
                            <div class="price-title spacing-box">
                                <h4>Standard</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">79</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>500 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Premium Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black" href="/admin/subscribe/type/2">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>Advanced</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">109</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>5000 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Free Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black" href="/admin/subscribe/type/3">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing Section -->
{% endblock %}
