{% extends "admin.html" %}

{% block title %}Index{% endblock title %}
{% block body %}
<link href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' />
<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<table id="subscribe_info" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>预约项目</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>创建时间</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>预约项目</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>创建时间</th>
            </tr>
        </tfoot>
</table>


{% endblock body %}
