{% extends "layout.html" %}
{% block body %}
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">About Studio</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    <div class="col-md-4 mb-30">
                        <img src="static/img/about1.jpg" alt="" />
                    </div>
                    <div class="col-md-4 mb-30">
                        <h4>WE`RE CREATIVE.</h4>
                        <div class="spacer-15"></div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur?</p>
                    </div>

                    <!-- Skills -->
                    <div class="col-md-4">
                        <div class="skillbar" data-percent="55%">
                            <div class="skillbar-title">Web design</div>
                            <div class="skill-bar-percent">55%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="80%">
                            <div class="skillbar-title">development</div>
                            <div class="skill-bar-percent">80%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="40%">
                            <div class="skillbar-title">Photography</div>
                            <div class="skill-bar-percent">40%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="70%">
                            <div class="skillbar-title">branding</div>
                            <div class="skill-bar-percent">70%</div>
                            <div class="skillbar-bar"></div>
                        </div>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
        </section>
        <!-- End About Section-->

{% endblock %}
