{% extends "layout.html" %}
{% block body %}
        <section id="contact-info" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h6>Address</h6>
                            <p>
                                502, DieSachbearbeiter, Schönhauser Allee, 167c10435 Berlin,Germany.
                            </p>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-telephone"></i></div>
                            <h6>Call Us</h6>
                            <p>
                                <span>+40 (0) 012 345 6789</span><br />
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-email"></i></div>
                            <h6>Email</h6>
                            <p>
                                <a href="mailto:yourname@domain.com">yourname@domain.com</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
