{% extends "layout.html" %}
{% block body %}
        <link rel="stylesheet" type="text/css" href="/static/css/slideunlock.css">
        <!-- Intro Section -->
        <section class="copyright pb-60">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                          {% with flashes = get_flashed_messages() %}
                          {% if flashes %}
                              {% for f in flashes %}
                              <h2 class="h2">{{ f }}</h2>
                              {% endfor %}
                          {% endif %}
                          {% endwith %}
                    </div>
                </div>
            </div>
        </section>
        <section class="inner-intro">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Login-Register</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Login-Register</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        
        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="tabs b-lrb-none">

                            <ul>
                                <li><a href="#tabs-1">忘记密码</a></li>
                            </ul>
                            <div class="ui-tab-content">
                                <div id="tabs-1" class="plr-0">
                                    <h4>Customer Login</h4>
                                    <form action="/forget_password" method=post>
                                        <div class="form-field-wrapper">
                                            <label for="login-email">Email address</label>
                                            <input type="email" required="" placeholder="Enter your Email" name="email" id="email" class="input-sm form-full" aria-required="true">
                                        </div>

                                        <div class="slideunlock-wrapper">
                                            <input type="hidden" value="" class="slideunlock-lockable"/>
                                            <div class="slideunlock-slider">
                                                <span class="slideunlock-label"></span>
                                                <span class="slideunlock-lable-tip">滑动验证!</span>
                                            </div>
                                        </div>
                                        </br>
                                        <Button name="submit" id="forget-psw" type="submit" class="btn btn-md btn-black">提交</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.slideunlock.js"></script>
        <script type="text/javascript" src="/static/js/slideunlock.js"></script>
        <!-- End Login Section -->
{% endblock %}
