{% extends "layout.html" %}
{% block body %}

        <!-- Contant Slider Section -->
        <section id="contant" class="wow fadeIn ptb ptb-sm-80">
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="static/img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h3>Flexible & Customizable</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy this Theme</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Multipages & Onepage</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla.</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Download Theme</a>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <img src="static/img/moc-1.png" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="static/img/moc-2.png" alt="" />
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h3>Fully Responsive</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy this Theme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contain Slider Section -->

        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('static/img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising. I did my first show in the third grade and just kept going. "</p>
                            <h6 class="quote-author">Jeff Dunham <span style="font-weight: 400;">( Appel Studio )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                            <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                            <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <hr />


        <!-- Client Logos Section -->
        <section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
            <div class="container text-center">
                <h3>Recent Clients</h3>
            </div>
            <div class="spacer-60"></div>
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/03.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/04.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/05.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/06.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/08.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="static/img/logos/03.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Client Logos Section -->
        <hr />

        <!-- Social Section -->
        <section id="social" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Get Connect With Us</h3>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <div class="page-icon-top">
                                    <i class="ion ion-social-twitter"></i>
                                </div>
                                <h6><a class="link" target="_blank" href="https://www.twitter.com/">Twitter</a></h6>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <div class="page-icon-top">
                                    <i class="ion ion-social-facebook"></i>
                                </div>
                                <h6><a class="link" target="_blank" href="https://www.facebook.com/">Facebook</a></h6>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <div class="page-icon-top">
                                    <i class="ion ion-social-googleplus"></i>
                                </div>
                                <h6><a class="link" target="_blank" href="https://plus.google.com/">Google plus</a></h6>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <div class="page-icon-top">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <h6><a class="link" target="_blank" href="https://www.linkedin.com/">Linkedin</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Social Section -->

        <hr />


{% endblock %}
