{% extends "layout.html" %}
{% block body %}
        
        <!-- Work Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <h3 class="h4">About Studio</h3>
                <!-- work Filter -->
                <div class="row container-masonry nf-col-3">

            {% for i in videos %}
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a href="/videos/{{ i[0] }}/{{ i[1] }}">
                                <img alt="1" src="/static/img/play.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Consequat massa quis</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor %}

                </div>

            </div>

        </section>
        <!-- End Work Section -->
{% endblock %}
