{% extends "layout.html" %}
{% block body %}
  <h2>注册</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('regist') }}" method=post>
    <dl>
      <dt>Name:
      <dd><input type=text name=name>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Address:
      <dd><input type=text name=address>
      <dt>Phone:
      <dd><input type=text name=phone>
      <dd><input type=submit value=regist>
    </dl>
  </form>
{% endblock %}
