{% extends "layout.html" %}
{% block body %}
        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="tabs b-lrb-none">

                            <ul>
                                <li><a href="#tabs-2">注册</a></li>
                            </ul>
                            <div class="ui-tab-content">
                                <div id="tabs-1" class="plr-0">
                                    <form action="{{ url_for('regist') }}" method=post>
                                        <div class="form-field-wrapper">
                                            <label for="login-email">用户名</label>
                                            <input type="text" required="" placeholder="Enter your Name" name="name" id="name" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="signup-email">所在地址</label>
                                            <input type="text" required="" placeholder="Enter your address" name="address" id="address" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="signup-email">邮箱地址</label>
                                            <input type="email" required="" placeholder="Enter your Email" name="email" id="email" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="login-email">手机号码</label>
                                            <input type="phone" required="" placeholder="Enter your phone no." name="phone" id="phone" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="signup-pass">密码</label>
                                            <input type="password" required="" placeholder="Enter Password" name="password" id="password" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="signup-pass">再次输入密码</label>
                                            <input type="password" required="" placeholder="Enter Re-enter Password" name="repassword" id="repassword" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <button name="submit" id="form-submit" type="submit" class="btn btn-md btn-black">Signup Now</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Login Section -->
{% endblock %}
