{% extends "layout.html" %}
{% block body %}
        <!-- Intro Section -->
        {% with flashes = get_flashed_messages() %}
        {% if flashes %}
        <section class="ptb">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                              {% for f in flashes %}
                              <div class="panel panel-primary">
                                  <h4 class="h2 text-center">{{ f }}</h4>
                              </div>
                              {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% endwith %}
        
        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="tabs b-lrb-none">

                            <ul>
                                <li><a href="#tabs-1">重置密码</a></li>
                            </ul>
                            <div class="ui-tab-content">
                                <div id="tabs-1" class="plr-0">
                                    <form action="/password/reset" method=post>
                                        <div class="form-field-wrapper">
                                            <label for="">输入密码</label>
                                            <input type="password" required="" placeholder="" name="password" id="password" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="">确认密码</label>
                                            <input type="password" required="" placeholder="" name="repassword" id="repassword" class="input-sm form-full" aria-required="true">
                                        </div>
                                        </br>
                                        <Button name="submit" id="reset-psw" type="submit" class="btn btn-md btn-black">提交</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Login Section -->
{% endblock %}
