{% extends "layout.html" %}
{% block body %}
        <!-- Service Section -->
        <section id="service" class="ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>Our Services</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Web Design</h5>
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>Development</h5>
                        <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Branding</h5>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Photography</h5>
                        <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>Typography</h5>
                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Ui Design</h5>
                        <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service Section -->

        <!-- Pricing Section -->
        <section id="pricing" class="gray-bg ptb-sm-80">
            <div class="container text-center">
                <h3>Pricing</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 mtb-xs-30">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>Regular</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">49</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>50 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Premium Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mtb-xs-30">
                        <div class="Pricing-box highlight">
                            <div class="price-title spacing-box">
                                <h4>Standard</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">79</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>500 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Premium Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>Advanced</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price"><span class="price-sm">$</span><span class="price-lg">109</span></div>
                                <div class="price-tenure">per month</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>Full Access</li>
                                    <li>1 Domain <strong>Free</strong></li>
                                    <li>Source Files</li>
                                    <li><strong>5000 User Accounts</strong></li>
                                    <li>6 Month License</li>
                                    <li>Free Support</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a class="btn btn-md btn-black">Sign Up Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing Section -->

{% endblock %}
