{% extends "layout.html" %}
{% block body %}
        <!-- Work Section -->
        <section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
            <div class="container">
                <h3>Our Work</h3>
                <div class="spacer-60"></div>
                <!-- work Filter -->
                <div class="row">
                    <ul class="container-filter categories-filter mb-0">
                        <li><a class="categories active" data-filter="*">All</a></li>
                        <li><a class="categories" data-filter=".branding">Branding</a></li>
                        <li><a class="categories" data-filter=".design">Design</a></li>
                        <li><a class="categories" data-filter=".photo">Photo</a></li>
                        <li><a class="categories" data-filter=".coffee">coffee</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row container-grid nf-col-3">
                    {% for i,j in enumerate(imgs) %}
                        {% for k in j %}
                            {% if i==0 %}
                            <div class="nf-item design spacing">
                            {% elif i==1 %}
                            <div class="nf-item coffee spacing">
                            {% elif i==2 %}
                            <div class="nf-item branding spacing">
                            {% else %}
                            <div class="nf-item photo spacing">
                            {% endif %}
                                <div class="item-box">
                                    <a class="cbox-gallary1" href="static/img/portfolio/{{ i }}/{{ k }}" title="Consequat massa quis">
                                        <img class="item-container" src="static/img/portfolio/{{ i }}/{{ k }}" alt="1" />
                                        <div class="item-mask">
                                            <div class="item-caption">
                                                <h5 class="white">Consequat massa quis</h5>
                                                <p class="white">Branding, Design, Coffee</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            <!-- End Work Gallary -->
            </div>
            <div class="spacer-30"></div>
            <div class="container">
                <a target="_blank" href="portfolio-grid-3col.html" class="btn btn-md btn-black-line">View All</a>
            </div>
        </section>
        <!-- End Work Section -->
{% endblock %}
