{% extends "layout.html" %}
{% block body %}
        <!-- Work Section -->
        <section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
            <div class="container">
                <h3>Our Work</h3>
                <div class="spacer-60"></div>
                <!-- work Filter -->
                <div class="row">
                    <ul class="container-filter categories-filter mb-0">
                        <li><a class="categories active" data-filter="*">All</a></li>
                        <li><a class="categories" data-filter=".branding">Branding</a></li>
                        <li><a class="categories" data-filter=".design">Design</a></li>
                        <li><a class="categories" data-filter=".photo">Photo</a></li>
                        <li><a class="categories" data-filter=".coffee">coffee</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->
            </div>
            <!-- Work Gallary -->
            <div class="container">
                <div class="row container-grid nf-col-3">
                    <div class="nf-item branding design coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/1.jpg" title="Consequat massa quis">
                                <img class="item-container" src="static/img/portfolio/1.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Consequat massa quis</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/2.jpg" title="Vivamus elementum semper">
                                <img class="item-container" src="static/img/portfolio/2.jpg" alt="2" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Vivamus elementum semper</h5>
                                        <p class="white">Photo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/3.jpg" title="Quisque rutrum">
                                <img class="item-container" src="static/img/portfolio/3.jpg" alt="4" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Quisque rutrum</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/4.jpg" title="Tellus eget condimentum">
                                <img class="item-container" src="static/img/portfolio/4.jpg" alt="4" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Tellus eget condimentum</h5>
                                        <p class="white">Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/5.jpg" title="Nullam quis ant">
                                <img class="item-container" src="static/img/portfolio/5.jpg" alt="5" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Nullam quis ant</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/6.jpg" title="Sed fringilla mauris">
                                <img class="item-container" src="static/img/portfolio/6.jpg" alt="6" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Sed fringilla mauris</h5>
                                        <p class="white">Photo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/7.jpg" title="Augue velit cursus">
                                <img class="item-container" src="static/img/portfolio/7.jpg" alt="7" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Augue velit cursus</h5>
                                        <p class="white">Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/8.jpg" title="Donec sodales sagittis">
                                <img class="item-container" src="static/img/portfolio/8.jpg" alt="8" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Donec sodales sagittis</h5>
                                        <p class="white">Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="static/img/portfolio/9.jpg" title="Donec sodales sagittis">
                                <img class="item-container" src="static/img/portfolio/9.jpg" alt="8" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Donec sodales sagittis</h5>
                                        <p class="white">Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <!-- End Work Gallary -->
            <div class="spacer-30"></div>
            <div class="container">
                <a target="_blank" href="portfolio-grid-3col.html" class="btn btn-md btn-black-line">View All</a>
            </div>
        </section>
        <!-- End Work Section -->
{% endblock %}
